<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
  
  <localRepository>${user.home}/.m2/repository</localRepository>
  
  <servers>
  </servers>
  
  <mirrors>
    <!-- Espejo principal para repositorio Maven Central -->
    <mirror>
      <id>aliyun-central</id>
      <name>Aliyun Maven Mirror</name>
      <url>https://maven.aliyun.com/repository/central</url>
      <mirrorOf>central</mirrorOf>
    </mirror>
    
    <!-- Espejo alternativo: Maven Central directo con caché -->
    <mirror>
      <id>central-cache</id>
      <name>Maven Central Repository</name>
      <url>https://repo1.maven.org/maven2/</url>
      <mirrorOf>central</mirrorOf>
    </mirror>
    
    <!-- Repositorio de Spring -->
    <mirror>
      <id>spring</id>
      <name>Spring Repository</name>
      <url>https://repo.spring.io/release</url>
      <mirrorOf>spring</mirrorOf>
    </mirror>
  </mirrors>
  
  <profiles>
    <profile>
      <id>docker</id>
      <repositories>
        <repository>
          <id>aliyun-central</id>
          <name>Aliyun Central Repository</name>
          <url>https://maven.aliyun.com/repository/central</url>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>daily</updatePolicy>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>
        
        <repository>
          <id>central</id>
          <name>Maven Central Repository</name>
          <url>https://repo1.maven.org/maven2/</url>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>never</updatePolicy>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>
        
        <repository>
          <id>spring-repo</id>
          <name>Spring Repository</name>
          <url>https://repo.spring.io/release</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>
      </repositories>
      
      <pluginRepositories>
        <pluginRepository>
          <id>aliyun-central</id>
          <name>Aliyun Central Repository</name>
          <url>https://maven.aliyun.com/repository/central</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </pluginRepository>
        
        <pluginRepository>
          <id>central</id>
          <name>Maven Central Repository</name>
          <url>https://repo1.maven.org/maven2/</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>
  
  <activeProfiles>
    <activeProfile>docker</activeProfile>
  </activeProfiles>
</settings>
